.body{
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
    /* background-color: #f4f6f8; */
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.post-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
}

.post-image{
    width:100% ;
    max-height: 300px;
    /* object-fit:contain; */
    border-radius: 20px;
    /* background-color: #a9a8ab; */
    align-self: center;
    justify-self: center;
    /* display: block; */
}

.post-image img {
    width: 100% ;
    max-height: 300px;
    object-fit:contain;
    /* border: 1px solid rgb(239, 230, 230);  */
    border-radius: 20px;
    /* background-color: #a9a8ab; */
    /* display: block; */
}

.post-header {
    padding: 20px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid rgba(200, 200, 200, 0.5); */
}

.post-title {
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* Responsive font size */
    font-weight: 600;
    color: #f5efef;
    margin-bottom: 8px;
}

.post-infor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px; /* Responsive metadata font size */
    color: #7f8c8d;
    padding:0px;
    /* background-color: #6a2a2a; */
}

.post-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
    padding-left: 20px;
    height: fit-content;
    /* border-bottom: 1px solid rgba(200, 200, 200, 0.5); */
}

.post-actionspage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: fit-content;
    /* border-bottom: 1px solid rgba(200, 200, 200, 0.5); */
}

.post-actionspage-recent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-right: 5px;
    height: fit-content;
    /* border-bottom: 1px solid rgba(200, 200, 200, 0.5); */
}

.post-likespage{
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgb(93, 173, 238);
    padding: 10px 15px;
    border-radius: 20px;
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive button font size */
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: #d5dde4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post-likespagebdls{
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgb(93, 173, 238); */
    padding: 10px 15px;
    border-radius: 20px;
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive button font size */
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: #d5dde4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post-shares-home {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    color: #2c3e50;
    /* border: 1px dashed rgb(103, 103, 175); */
    padding: 10px 15px;
    border-radius: 20px;
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive button font size */
    display: flex;
    align-items: center;
    gap: 6px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.post-shares-home:hover {
    background-color: #4da9e6;
    color: #ffffff;
}

.post-likes, .post-bookmark, .post-share {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive button font size */
    display: flex;
    align-items: center;
    gap: 6px;
    height: 25px;
    cursor: pointer;
    color: #2c3e50;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post-likes.active, .post-bookmark.active {
    background-color: #4da9e6;
    color: #ffffff;
}

.activate{
    background-color: #64b0e2;
    color: #ffffff;
}

.post-share {
    position: relative;
    background-color: #3498db;
    color: #ffffff;
}

.post-share:hover {
    background-color: #2980b9;
}

.share-dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    display: none;
    background-color: #6a2a2a;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.share-dropdown a {
    display: block;
    padding: 10px;
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive font size */
    color: #2c3e50;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.share-dropdown a:hover {
    background-color: #f4f4f4;
}

.post-share-container.active .share-dropdown {
    display: block;
}

.post-content {
    padding: 20px;
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Responsive content font size */
    color: rgb(185, 199, 219);
    line-height: 1.8;
}

.post-content p {
    margin-bottom: 15px;
}

.dimpage{
    opacity:0.7;
}

.pageon{
    /* background-color: #d0bbbb; */
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}


.blog-register-body {
    margin-top: 100px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;  
    /* border: 1px solid white; */
}

@media (min-width: 500px) {
    .blog-register-body {
        margin-top: 150px;
    }
}

.blog-register-container {
    /* background: #ffffff; */
    /* padding-top: 10px; */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(105, 96, 96, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
    background: linear-gradient(170deg, #081b3e, #6a8caf);
    backdrop-filter: blur(10px);
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-register-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #97b9d5;
    margin-top: 30px;
}

.blog-register-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.blog-register-input {
    background-color: white;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1rem;
    color: black;
}
.blog-register-button {
    background: linear-gradient(135deg, #538ac1, #375674);
    color: #ffffff;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-register-button:hover {
    background: linear-gradient(135deg, #538ac1, #213548);
}

.blog-register-button.disabled{
    opacity: 0.4;
    border: 1px solid rgb(216, 205, 205);
}

.blog-register-text {
    margin-top: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;    
    font-size: 12px;
    color: #decfcf;
    display: flex;
    flex-direction: row;
}

.blog-register-text a {
    margin-left: 5px;
    font-size: 12px;
    color: #ffffff;
    text-decoration:underline;
    width: fit-content;
    align-self: center;
    justify-self: center;
}
.blog-register-text a:hover {
    color: rgb(0, 0, 0);
}

.blog-register-password {
    text-align: center;
    font-size: 11px;
    color: #848484;
    display: flex;
    flex-direction: column;
}

.blog-register-password a {
    margin-top: 5px;
    color: #ffffff;
    text-decoration: underline;
    width: fit-content;
    align-self: center;
    justify-self: center;
}

.blog-register-password a:hover {
    color: rgb(27, 117, 200);
}

.blog-register-alert {
    font-size: 12px;
    color: #ff0000;
    letter-spacing: 0.05em;
    display: flex;
    box-shadow: 0 4px 8px rgba(44, 62, 80, 0.1);
    /* background-color: rgba(255, 255, 255, 0.787); */
    background: linear-gradient(135deg, #ffffff, #e6a3a3);
    flex-direction: column;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 6px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: all 0.3s ease-in-out;
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.forms-section .section-title-login {
	font-size: 20px;
	letter-spacing: 1px;
	color: #fff;
}

.forms-section .log-title{
    font-size: 14px;
	margin-bottom: 10px;
    align-self: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newh6{
    font-size: 12px;
}

.logintag{
    color: rgb(255, 255, 255);
    text-decoration:underline;
    margin-right: 4px;
}
.borderh4{
    color: #5d7a98;
    display: flex;
    margin-top: 10px;
    border: 1px solid rgb(53, 68, 88) ;
    width:fit-content;
    padding: 5px;
    border-radius: 5px;
}

.post-meta {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between elements */
    font-size: 0.9rem;
    color: #555;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.post-meta .post-views {
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive font size */
    color: #f3f8fc;
    background: rgba(0, 0, 0, 0.1); /* Subtle hover effect */
    border: 1px solid rgba(255, 255, 255, 0.424);
}

.post-meta .post-views:hover {
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive font size */
    color: #f3f8fc;
    background: rgba(0, 0, 0, 0.1); /* Subtle hover effect */
    border: 1px solid rgba(255, 255, 255, 0.424);
}

.post-meta span {
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive font size */
    display: flex;
    align-items: center;
    gap: 2px;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 14px;
    color: #f3f8fc;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.post-meta span:hover {
    background: rgba(255, 255, 255, 0.2);
}

.post-meta span i {
    font-size: 2rem;
    color: #333;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
    .post-meta {
        color: #bbb;
    }

    .post-meta span {
        background: rgba(255, 255, 255, 0.2);
    }

    .post-meta span i {
        color: #ddd;
    }

    .post-meta span:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}

/* Responsive Adjustment */
@media (max-width: 768px) {
    .post-meta {
        flex-wrap: wrap; /* Allows wrapping on smaller screens */
        gap: 10px;
    }
}

/* Veify.html */

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    /* padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%; */
}

button {
    padding: 10px;
    /* background-color: rgb(137, 137, 104); */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* button:hover {
    
} */

.resend {
    margin-top: 20px;
    font-size: 14px;
}

.resend a {
    color: #4CAF50;
    text-decoration: none;
}

.resend a:hover {
    text-decoration: underline;
}

.customalert {
    display: flex;
    align-self: flex-start;
    font-size: 13px;
    margin-bottom: 8px;
    color: rgb(191, 52, 52);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 7px;
}

#custom-swalalert{
    border-radius: 0px;
    border: none;
    width: 60px;
    height: 60px;
}

.input-block-terms{
	display: flex;
	width: 100%;
	margin-top: 8px;
	gap: 10px;
	color: #3b4465;
	align-items: center;
	justify-content: center;
}

.h3{
	display: flex;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.848);
	/* border: 1px solid brown; */
	width: 95%;
}

.anchor-t{
	text-decoration: underline;
	margin-left: 5px;
	color: rgba(255, 255, 255, 0.848);
}
.anchor-t:hover{
	color: #ffffffe7;
}

.loading {
    font-size: 20px;
    font-weight: bold;
    height: 5px;
    color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading span {
    height: fit-content;
    /* background-color: red; */
    margin-bottom:5px;
    animation: blink 1.5s infinite;
}

.loading span:nth-child(1) {
animation-delay: 0s;
}
.loading span:nth-child(2) {
animation-delay: 0.3s;
}
.loading span:nth-child(3) {
animation-delay: 0.6s;
}

@keyframes blink {
0% { opacity: 1; }
50% { opacity: 0.3; }
100% { opacity: 1; }
}
  

