{% extends 'layout.html' %}
{%load static%}

{% block hero %}

{% endblock  %}

{%block featured%}
<div class="blog-register-body">
    <div class="blog-register-container">
    <h2 class="blog-register-title">Login credential</h2>
        <form class="blog-register-form" action="login" method="POST">
            {% csrf_token %}
            <input class="blog-register-input" type="text" name="username" placeholder="Username" required>
            {% comment %} <input class="blog-register-input" type="email" name="email" placeholder="Email Address" required> {% endcomment %}
            <input class="blog-register-input" type="password" name="password" placeholder="Password" required>
            {% comment %} <input class="blog-register-input" type="password" name="confirm_password" placeholder="Confirm Password" required> {% endcomment %}
            <button class="blog-register-button" type="submit">Login</button>
        </form>
        <p class="blog-register-text">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        </p>
    </div>
</div>
{% endblock  %}

{% block usercontents %}

{% endblock  %}

{% block populartags %}

{% endblock  %}

{% block recents %}

{% endblock  %}