{% extends 'layout.html' %}
{%load static%}

{% block hero %}

{% endblock  %}

{%block featured%}
<div class="blog-register-body">
    <div class="blog-register-container">
      <section class="forms-section">
        <h1 class="section-title-login">Welcome to Tech-Scape </h1>
        <p class="log-title">Input credentials to continue</p>
      </section>
      <form class="blog-register-form" id="loginForm" method="POST">
          {% csrf_token %}
          <h6 class="newh6">Username</h6> 
          <input class="blog-register-input" type="text" name="username" placeholder="Input username" autocomplete="on" required>
          
          <h6 class="newh6">Password</h6> 
          <input class="blog-register-input" id="password" type="password" name="password" placeholder="Input password" autocomplete="on" required>
          
          <p class="blog-register-alert">
            
          </p>
            <button class="blog-register-button" type="submit" >Login</button>
      </form>
      <p class="blog-register-text">
          Don't have an account? <a href="{% url 'register' %}">Register</a>
      </p>
      <p class="blog-register-password">
          <a href="{% url 'verify' %}">Forgot password?</a>
      </p>
      <script>
        var user = document.querySelector('input[name="username"]');
        var password = document.querySelector('input[name="password"]');
        var alert = document.querySelector('.blog-register-alert');

        user.addEventListener('input', function() {
          alert.textContent = '';
          //alert.style.display = 'none';
        });

        password.addEventListener('input', function() {
          alert.textContent = '';
          //alert.style.display = 'none';
        });

        document.getElementById('loginForm').onsubmit = function(event) {
          var password = document.getElementById('password').value;
          var alert = document.querySelector('.blog-register-alert');
          var form = document.getElementById('loginForm');
          var formData = new FormData(form);
          this.action = getLoginUrl(formData);
        };

        function getLoginUrl(formData) {
          var alert =  document.querySelector('.blog-register-alert');
          alert.style.display = 'block';
          const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

          axios.post('login', formData,
          { headers: {
            'X-CSRFToken': csrf_token
          }}
          )
          .then(response => {
            if (response.data.success === true) {
              //alert.textContent = response.data.message;
              // Show success dialog
              var successDialog = document.createElement('div');
              successDialog.style.position = 'fixed';
              successDialog.style.top = '50%';
              successDialog.style.left = '50%';
              successDialog.style.transform = 'translate(-50%, -50%)';
              successDialog.style.padding = '20px';
              successDialog.style.backgroundColor = ' rgba(93, 97, 196, 0.95)';
              successDialog.style.color = 'white';
              successDialog.style.borderRadius = '20px';
              successDialog.style.boxShadow = '0 2px 10px rgba(0, 0, 0, 0.1)';
              successDialog.textContent = 'Login successful!';
              successDialog.style.border = '2px solid rgb(255, 255, 255)';
              successDialog.style.fontSize = '15px';
              successDialog.style.fontWeight = 'bold';
              successDialog.style.textAlign = 'center';
              successDialog.style.width = '200px';
              successDialog.style.height = '60px';
              successDialog.style.display = 'flex';
              successDialog.style.justifyContent = 'center';
              successDialog.style.alignItems = 'center';
              document.body.appendChild(successDialog);

              // Redirect after a short delay
              setTimeout(function() {
              document.body.removeChild(successDialog);
              window.location.href = response.data.redirect_url;
              }, 3000);
              
              //window.location.href = response.data.redirect_url;
              
            } else if (response.data.exceptionError === true) {
              alert.textContent = response.data.message;

            } else if(response.data.userError === true) {
              alert.textContent = response.data.message;

            } else if(response.data.passworderror === true) {
              alert.textContent = response.data.message;
            }
          })
            .catch(error => {
            console.error('Error:', error);
            if (error.response) {
              // The request was made and the server responded with a status code
              // that falls out of the range of 2xx
              alert.textContent = 'Request error, refresh page and re-login ';
            } else if (error.request) {
              // The request was made but no response was received
              alert.textContent = 'Please check your network connection.';
            } else {
              // Something happened in setting up the request that triggered an Error
              alert.textContent = 'An error occurred while setting up the request: ' + error.message;
            }
            });
          event.preventDefault();
        }

        function submitForm() {
          var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/;
          if (!passwordPattern.test(password)) {
            alert.style.display = 'block';
            alert.textContent = 'Password must be at least 8 characters long, include both upper and lower case letters, a number, and a special character.';
            
            setTimeout(function() {
              alert.style.display = 'none';
            }, 10000); 
            event.preventDefault(); 
          }
          
      }
      
      </script>
    </div>
</div>
{% endblock  %}

{% block usercontents %}

{% endblock  %}

{% block populartags %}

{% endblock  %}

{% block recents %}

{% endblock  %}