{% extends 'layout.html' %}
{%load static%}

{% block hero %}

{% endblock  %}

{%block featured%}
<div class="blog-register-body">
    <div class="blog-register-container">
        <section class="forms-section">
            <h1 class="section-title-login">Reset Account Password</h1>
            <p class="log-title">Input new password</p>
        </section>
        <form class="blog-register-form" id="registerForm" method="POST">
            {% csrf_token %}
            <h6 class="newh6">Password</h6> 
            <input class="blog-register-input" type="password" name="password" placeholder="Password" autocomplete="on" required>
            <h6 class="newh6">Confirm Password</h6>
            <input class="blog-register-input" type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="on" required>
            <p class="blog-register-alert">
                
            </p>
            <button class="blog-register-button" type="submit">
                Reset password
                <div class="loading"><span>.</span><span>.</span><span>.</span></div>
            </button>
        </form>
        <p class="blog-register-text">
            Token expired? <a href="{% url 'reset-link' %}">Request a new reset link</a>
        </p>
        <script src="{% static 'JavaScript/PasswordReset97.js'%}?v={{ timestamp }}"></script>
    </div>
</div>
{% endblock  %}

{% block usercontents %}

{% endblock  %}

{% block populartags %}

{% endblock  %}

{% block recents %}

{% endblock  %}