{% extends 'layout.html' %}
{% load static %}

{% block hero %}

{% endblock  %}

{% block featured %}
<div class="blog-register-profile">
    <div class="profile-container">
        <!-- Profile Header -->
        <div class="profile-header">
            <div class="profile-pic-container">
                <i class="fas fa-user-circle"></i>
            </div>
                <h1 id="profileName">{{ username }}</h1>
                <p id="profileEmail">{{ email }}</p>
                <div class="row">
                    <button id="editProfileBtn" class="btn-edit">Edit Profile</button>
                    <a href="{% url 'reset-link'%}"><button id="editProfileBtn" class="btn-edit">Change Password</button></a>
                    <a href="{% url 'logout'%}"><button id="logoutBtn" class="btn-logout">Logout</button></a>
                </div>
            </div>

            <!-- Edit Profile Modal -->
            <div id="editProfileModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="prof-edit-h2">Edit Profile</h2>
                <form id="editProfileForm" class="prof-form" method="POST">
                    {% csrf_token %}
                    <label class="prof-label" for="name">Name:</label>
                    <input class="profile-input" type="text" id="name" name="username" value="{{username}}" required>
                    <label class="prof-label" for="email">Email:</label>
                    <input class="profile-input" type="email" id="email" name="email" value="{{ email }}" required>
                    <p class="blog-register-alert">
                        
                    </p>
                    <button class="prof-btn-save" type="submit">
                        Save Changes
                        <div class="roll"><span>.</span><span>.</span><span>.</span></div>
                    </button>
                </form>
            </div>
        </div>

        <!-- Tabs for Likes and Bookmarks -->
        <div class="tabs">
        <button id="likesTab" class="tab-btn active">Likes</button>
        <button id="bookmarksTab" class="tab-btn">Bookmarks</button>
        </div>

        <!-- Likes Section -->
        <div id="likesSection" class="content-section active">
            <h2 class="prof-h2">Liked Posts</h2>
            {% if all_user_likes %}
            {% for like in all_user_likes %}
            <ul id="bookmarksList">
                <p class="cs-p">🔗<p/><a class="profile-a" href="{% url 'postpage' name=like.category.name slug=like.slug%}"><li class="profile-li">{{ like.title }}</li></a>
            </ul>
            {% endfor %}
            {% else %}
                <p class="NoValue">No liked post</p>
            {% endif %}
        </div>

            <!-- Bookmarks Section -->
        <div id="bookmarksSection" class="content-section">
            <h2 class="prof-h2">Bookmarked Posts</h2>
            {% if all_user_bookmarks %}
            {% for bookmark in all_user_bookmarks %}
            <ul id="bookmarksList">
                <p class="cs-p">🔗<p/><a class="profile-a" href="{% url 'postpage' name=bookmark.category.name slug=bookmark.slug%}"><li class="profile-li">{{ bookmark.title }}</li></a>
            </ul>
            {% endfor %}
            {% else %}
                <p class="NoValue">No bookmarked post</p>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'JavaScript/profile54.js'%}?v={{ STATIC_VERSION }}"></script>

{% endblock %}

{% block usercontents %}

{% endblock  %}

{% block populartags %}

{% endblock  %}

{% block recents %}

{% endblock  %}
